@tailwind base;
@tailwind components;
@tailwind utilities;

.h-content {
  /* Deducts Header height from vh */
  height: calc(100vh - theme("height.20"));
}

.shadow-around:hover {
  -webkit-box-shadow: 0px 0px 9px 3px rgb(0 0 0 / 37%);
  box-shadow: 0px 0px 9px 2px rgb(0 0 0 / 25%);
}
